@import "base.scss";

$transition: 0ms ease-in-out;
$black: #343a40;
$white: #f3f4ed;
$green: #c5d7bd;
$font: "Inter", sans-serif;

::-moz-selection {
  color: $white;
  background: $black;
}

::selection {
  color: $white;
  background: $black;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

h2,
h3,
h4 {
  font-size: 18px;
  font-weight: 400;
}

h5,
h6 {
  font-size: 16px;
  font-weight: 400;
}

html,
body {
  font: 400 16px/1.4em $font;
  letter-spacing: -0.0025em;
}

body {
  transition: all $transition;
  &.light {
    color: $black;
    background: $white;
  }

  &.dark {
    color: $white;
    background: $black;
  }
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

main {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  z-index: 1;
}

header {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 10;

  h1 {
    text-transform: uppercase;
  }
}

#toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: $black;
  appearance: none;
  outline: none;

  &.dark {
    background: $white;
  }

  &:hover {
    background: $green;
  }
}

footer {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100%;
  z-index: 1;

  a {
    text-transform: uppercase;
    margin-right: 40px;
    transition: all $transition;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $green;
    }
  }
}

#home {
  h1 {
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .projects {
    .the-project {
      display: block;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        li {
          font-size: 15px;
          line-height: 1.3em;

          &:nth-child(3) {
            font-size: 12px;
          }
        }
      }

      h3 {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 4px;
        transition: all $transition;

        a {
          transition: all $transition;
          display: inline-block;

          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    top: 0;
    padding: 20px 0;
    // background: $white;
    z-index: 5;
  }

  footer {
    position: relative;
    padding: 20px 0;
    bottom: 0;
  }

  main {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  #home {
    .projects {
      .the-project {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
