@import 'base.scss';

$transition: 0.75s cubic-bezier(0.19, 1.04, 0.25, 1);
$black: #343a40;
$white: #f3f4ed;
$green: #c5d7bd;
$font: 'Inter', sans-serif;

::-moz-selection {
	color: $white;
	background: $black;
}

::selection {
	color: $white;
	background: $black;
}

h1 {
	font-size: 24px;
	font-weight: 400;
}

h2,
h3,
h4 {
	font-size: 18px;
	font-weight: 400;
}

h5,
h6 {
	font-size: 16px;
	font-weight: 400;
}

html,
body {
	font: 400 16px/1.4em $font;
	letter-spacing: -0.0025em;
}

body {
	transition: all $transition;

	&.light {
		color: $black;
		background: $white;

		#toggle {
			background: $black;
		}
	}

	&.dark {
		color: $white;
		background: $black;

		#home {
			.projects {
				.the-project {
					h3 {
						a {
							&:after {
								background-color: $white;
							}
						}
					}
				}
			}
		}

		footer {
			a {
				&:after {
					background-color: $white;
				}
			}
		}

		#toggle {
			background: $white;

			&:before {
				border-color: $white;
			}
		}
	}
}

.wrapper {
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

main {
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;
	z-index: 1;
}

header {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	z-index: 10;

	h1 {
		text-transform: uppercase;
	}
}

#toggle {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: $black;
	appearance: none;
	outline: none;
	transition: all $transition;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: calc(100% + 8px);
		width: calc(100% + 8px);
		border: 1px solid $black;
		border-radius: 50%;
		transform-origin: center;
		transition: all $transition;
	}

	&.dark {
		background: $white;

		&:before {
			border-color: $white;
		}
	}

	&:hover {
		background: $green;

		&:before {
			height: calc(100% + 16px);
			width: calc(100% + 16px);
		}
	}
}

footer {
	position: fixed;
	bottom: 60px;
	left: 0;
	width: 100%;
	z-index: 1;

	a {
		position: relative;
		text-transform: uppercase;
		margin-right: 40px;
		transition: all $transition;
		display: inline-block;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: calc(100% + 2px);
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $black;
			transform-origin: left;
			transform: scaleX(0);
			transition: all $transition;
		}

		&:hover {
			&:after {
				transform: scaleX(1);
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.links {
	display: block;
	transition: all $transition;

	ul {
		li {
			margin: 0 1em;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

#home {
	h1 {
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	.projects {
		.the-project {
			display: block;
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}

			ul {
				li {
					font-size: 15px;
					line-height: 1.3em;

					&:nth-child(3) {
						font-size: 12px;
					}
				}
			}

			h3 {
				position: relative;
				font-size: 24px;
				text-transform: uppercase;
				margin-bottom: 10px;
				transition: all $transition;

				a {
					position: relative;
					transition: all $transition;
					display: inline-block;

					&:after {
						content: '';
						display: block;
						position: absolute;
						top: calc(100% + 4px);
						left: 0;
						width: 100%;
						height: 1px;
						background-color: $black;
						transform-origin: left;
						transform: scaleX(0);
						transition: all $transition;
					}

					&:hover {
						&:after {
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	body {
		&.light {
			color: $black;
			background: $white;

			header {
				background: $white;
			}

			#toggle {
				background: $black;
			}
		}

		&.dark {
			color: $white;
			background: $black;

			header {
				background: $black;
			}

			#toggle {
				background: $white;
			}
		}
	}
	header {
		top: 0;
		padding: 20px 0;
		// background: $white;
		z-index: 5;
	}

	footer {
		position: relative;
		padding: 20px 0;
		bottom: 0;
	}

	main {
		margin-top: 120px;
		margin-bottom: 20px;
	}

	#home {
		.projects {
			.the-project {
				margin-bottom: 40px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
