@import url("https://use.typekit.net/brw8nyn.css");

$font: "halyard-display", sans-serif;

$blue: #3333ff;
$blue90: #4747fb;
$blue50: #9999fd;
$blue10: #eaeaff;

$black: #080808;
$black90: #202020;
$black50: #838383;
$black10: #e6e6e6;

$grey: #464646;
$grey90: #585858;
$grey50: #a2a2a2;
$grey10: #ececec;

$white: #fff;

$transition: 150ms ease-in-out;